@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    box-sizing: border-box;
}

#header, #footer
{
    background-color: khaki;
    height: 10vh;
}

#header h1
{
    text-align: center;
    padding-top: 13px;
    color: #000;
    font-family: 'Goblin One', cursive;
}

#nav
{
    height: 5vh;
    background-color: brown;
}

#nav ul li
{
    list-style: none;
    float: left;
}

#nav ul li a
{
    text-decoration: none;
    color: #fff;
    padding-bottom: 2px;
    margin: 20px;
    font: 700 20px 'Raleway', sans-serif;
}

#nav ul li a:hover
{
    background-color: white;
    color: black;
    border-radius: 10px 0;
}

#main div
{
    float: left;
}

#content div img
{
    padding: 15px;
    width: 180px;
}

#content h2
{
    padding: 10px;
    font-size: 32px;
}

#content
{
    width: 80%;
    padding: 20px 0 0 20px;
}

#ads
{
    background-color: beige;
    height: 75vh;
    width: 20%;
}

#ads img
{
    padding: 80px 10px;
    width: 100%;
}

.authors img
{
    float: left;
}

.authors p
{
    padding: 15px;
    font-size: 24px;
}

.books div
{
    float: left;
}

.books div p
{
    font-size: 16px;
    width: 500px;
}

.books div img
{
    float: left;
}

#footer { clear: both; }

#footer p
{
    padding: 20px;
    font: 500 20px 'Architects Daughter', cursive;
}